.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
    display: grid;
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;*/
}

#body.container{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.navbar{
    grid-row-start: 1;
    grid-row-end: 2;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.align-icon-text{
    display: flex;
    align-items: center;
}

#accueil.btn{
    margin-bottom: 4%;
}

#recherche.btn{
    margin-bottom: 4%;
}

.margin-right{
    margin-right: 10px;
}

span.navbar-toggler-icon{
    color: #ffffff;
}

.material-icons.white { color: #ffffff; }
.material-icons.md-36 { font-size: 36px; }


.card-body{
    padding: 1px;
}

.card-title{
    margin-bottom: 0%;
    margin-top: 5px;
}

.btn{
    --bs-btn-padding-x: 0%;
    --bs-btn-padding-y: 0%;
}

.card-img-top{
    width: 142px;
    height: 144px;
}

