.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}

.rectangle-container{
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    /*border: 2px solid black;*/
}

.row{
    padding: 2%;
}

#inscription{
    margin-top: 2%;
}